.DS_Store
jsonzip/
projectsdata/
CORPUS/
chunks/
flourishdata/
test/
.venv/
backend/__pycache__/
.vscode/
.dockerignore
compose.debug.yaml
compose.yaml
Dockerfile
docker-compose.yaml
docker-compose copy.yaml
frontend/nginx_bckp.conf
frontend/nginx.conf
backend/Dockerfile
backend/.dockerignore